{% extends 'base.html' %}


{% load static %}
{% block content %}
<section class="vh-100 my-5 container">
    <div class="container mb-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-20 col-xl-15">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-8 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                                <a href="{% url 'login_user' %}">
                                    <p class="text-center small fw-bold mt-1 mb-3">Aldready have an account ?</p>
                                </a>

                                <form class=" mx-1 mx-md-4" method="post">
                                    {% csrf_token %}

                                    <div class="row">
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="col-sm" style="margin-right: 5px;">
                                                <div class="form-outline flex-fill mb-0">
                                                    <label class="form-label" for="form3Example1c">First
                                                        Name</label>
                                                    <input type="text" name="fname" id="form3Example1c"
                                                        class="form-control" />
                                                </div>
                                            </div>

                                            <div class="col-sm" style="margin-left: 5px;">
                                                <div class="form-outline flex-fill mb-0">
                                                    <label class="form-label" for="form3Example1c">Last Name</label>
                                                    <input type="text" name="lname" id="form3Example1c"
                                                        class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa fa-user-plus fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c">Username</label>
                                            <input type="text" name="username" id="form3Example1c"
                                                class="form-control" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example3c">Your Email</label>
                                            <input type="email" name="email" id="form3Example3c" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4c">Password</label>
                                            <input type="password" name="pass1" id="form3Example4c"
                                                class="form-control" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4cd">Repeat your
                                                password</label>
                                            <input type="password" name="pass2" id="form3Example4cd"
                                                class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <label class="form-check-label" for="form2Example3">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                        </label>
                                        <input class="form-check-input me-2" type="checkbox" value=""
                                            id="form2Example3c" />
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit"
                                            class="btn btn-primary btn-lg mb-5 w-100">Register</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F002%2F921%2F546%2Foriginal%2Fmental-health-medical-treatment-mentality-healthcare-and-medical-therapies-prevention-mental-problem-concept-support-help-with-mental-problem-flat-illustration-for-banner-poster-landing-vector.jpg&f=1&nofb=1&ipt=7da2d59fda77bc78d22cddcea4354bb6fb7de3edbe88448d620873b8d83bf86e&ipo=images"
                                    class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock%}