.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}


body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}